<div class="conta" >
    <br>
    <h3>Basic Details :</h3>
    <br>
    <div>
        <input type="text" class="inp" placeholder="Name">
    </div>
    <br>
    <div>
        <input type="email" class="inp" placeholder="E-mail">
    </div>
    <br>

    <div>
        <input type="text" class="inp" placeholder="Hobbies">
    </div>
    <br>
    <div>
        <input type="text" class="inp" placeholder="Address">
    </div>
    <br>

    <div>
        <button  type="button" class="btn btn-primary btnn"  (click)="btnq()" routerLink="/preference">NEXT</button>
        <button type="button" class="btn btn-secondary btnn">CANCEL</button>
    </div>



</div>